@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Outfit:wght@300&display=swap');

:root {
    --cor1: #f7ede2;
    --cor2: #f4acb7;
    --cor3: #ff8fab;

    --fonte1: 'Nunito', sans-serif;
    --fonte2: 'Outfit', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 96vh;
    background-color: var(--cor1);

}

main {
    display: flex;
    flex-direction: row;
    background-color: white;
    font-family: var(--fonte2);
    background-size: 100% 100%;
    height: 500px;
    width: 800px;
    margin: auto;
    border-radius: 13px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.150); 
}

h1 {
    font-family: var(--fonte1);
    font-size: 37px;
}

div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-image: linear-gradient(to left, var(--cor2), var(--cor3));
    border-radius: 13px 0px 0px 13px;
}

div:nth-child(2) {
    margin: auto;
    padding-top: 38px;
    text-align: center;
    height: 100%;
    width: 50%;
    font-family: var(--fonte2);
}


.welcome {
    font-size: 47px;
    color: white;
    text-shadow: 0px 1px 6px hsla(0, 0%, 0%, 0.300);
}

img {
    padding: 0px 10px;
}

label[for="email"] {
    padding: 10px 0px;
    margin-right: 122px;
}

label[for="password"] {
    padding: 10px 0px;
    margin-right: 92px;

}

input {
    width: 37%;
    border: 0;
    padding: 7.5px;
    border-bottom: 1px solid var(--cor2);
}


#botao {
    background-color: var(--cor3);
    color: white;
    font-family: var(--fonte1);
    font-size: 1.1em;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    width: 20%;
    padding: 7px;
    border-radius: 30px;
}

#botao:hover {
    opacity: 80%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: var(--cor3);
}

footer {
    font-family: var(--fonte2);
    color: #2c2c2ca1;
    text-align: center;
    height: 12px;
    width: 100%;
}